venv/
*.pyc
__pycache__/
*.log
*.sqlite3
.env
.vscode/
.idea/
build/
dist/
mobile_app/mobile_app/flutter_frontend/.dart_tool/
mobile_app/flutter_frontend/.packages
node_modules/
.DS_Store
docker-compose.override.yml
*.ipynb
coverage/
htmlcov/
